body {
    font-family: Arial, sans-serif;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,147,253,1) 100%);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh;
    color: white; 
  }
  
  a {
    background-color: #f0ad4e !important; 
    color: #ffffff !important; 
    text-decoration: none;
    padding: 8px 16px; 
    border-radius: 5px;
    cursor: pointer; 
    margin-left: 10px; 
}

a:hover {
    background-color: #eea236 !important; 
}


  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  input[type="text"] {
    width: 70%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .buttonadd {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .buttonadd:hover {
    background-color: #45a049;
  }
  
  li {
    list-style-type: none;
    margin-bottom: 5px;
  }
  
  li span {
    margin-right: 10px;
    font-weight: bold;
  }
  
  li button {
    background-color: #ff1100;
    color: white;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
    float: right;
  }
  
  li button:hover {
    background-color: #ad0303;
  }

  li .buttonEdit {
    background-color: #5a5a5a;
    color: white;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
    float: right;
  }
  
  li .buttonEdit:hover {
    background-color: rgb(36, 36, 36);
  }